.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    border: 1px solid;
    border-radius: 15px ;
    width: 275px;
    height: 250px;
    background-color: #C0C0C0;
    padding: 10px;
    text-align: center;

}
